*{
    background-color: #1e1e1e;
    color: white;
}
.heading{ 
    display: flex;
    height:20vh;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}
#logid{
    align-items: center;
}
.btn{
    border: 2px solid rgb(130, 130, 130);
    border-radius: 10px;
    width: 130px;
    height: 40px;
}
.submit{
    font-size: 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
.deci{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.ready{
    margin:25px 0px;
    justify-content: center;
    width: 300px;
    height: 80px;
    font-size: 20px;
    background-color: green;
}
.wait{
    width: 300px;
    height: 80px;
    font-size: 20px;
    background-color: red;
}
.agree{
    height:50vh;
    width: 50vw;
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 100px;
}
.restmode{
    font-size: 50px;
}